/* reset CSS */
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(215, 215, 215);
    padding: 8px 0 8px 0;
    margin-bottom: 16px;
}

.app {
    font-weight: bolder;
    font-size: x-large;
    margin-left: 16px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.menu ul li {
    padding: 0px 10px 0px 10px;
}

/* login page */

.form-container {
    display: flex;
    justify-content: center;
    margin: 32px;
}

.form-login, .form-password {
    padding: 8px;
}

.form-login label, .form-password label {
    display: block;
    width: 100px;
    float: left;
    padding: 5px 0;
}

.form-login input, .form-password input {
    height: 10px;
    padding: 12px 0;
}

.form-button {
    display: block;
    height: 30px;
    width: 50%;
    margin: 16px auto;
}

.signup {
    text-align: center;
    margin-bottom: 32px;
}

input::placeholder{
    font-size: 0.8rem;
}

/* main notes sections */

h1 {
    text-align: center;
}

.createnote {
    margin: 16px;
    text-align: right ;
}

.notecards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;
    max-width: 1300px;
    margin: 0 20px;
    justify-content: space-around;
}

.notecards a {
    text-decoration: none;
}

.notecards a:link {
    color: black;
}

.notecards a:visited {
    color: black;
}

.notecards a:hover {
    background-color: rgb(237, 237, 237);
}

.notecards a:active {
    color: darkgray;
}

@media screen and (min-width: 1300px) {
    .notecards {
        margin: 0 auto;
    }
}

.notecard {
    border: solid 1px darkgrey;
    padding: 8px;
}

.notetitle {
    color:darkslategrey;
    text-align: center;
    margin: 8px 0;
}

.note-content-container {
    margin: 16px;
    padding: 8px;
    background-color: rgb(237, 237, 237);
}

.note-content-preview {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notes-date {
    font-size: 0.8rem;
}

/* note detail */

.note-menu {
    margin: 16px auto;
    width: 60%;
}

.note-menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.note-date {
    display: flex;
    font-size: 0.8rem;
    justify-content:space-evenly;
}

.note-content {
    margin: 32px auto;
    width: 60%;
}

/* note create and update form */

.update-form-menu {
    display: block;
    width: 60%;
    margin: 16px auto;
}

.update-form-menu div {
    margin: 16px 0;
}

.update-form-menu input {
    width: 100%;
    text-align: center;
}

.update-form-menu button {
    width: 100%;
}

.update-form-menu textarea {
    width: 100%;
}

/* logout page */

.logout {
    margin: 16px auto;
    width: 50%;
    text-align: center;
}

/* display account page */

.display-account-menu {
    margin: 16px auto;
    width: 65%;
}

.display-account-menu ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.display-account {
    margin: 32px auto;
    width: 50%;
    text-align: center;
}

/* footer */

.footer {
    display: block;
    width: 50%;
    margin: 16px auto;
    font-size: smaller;
}

.footer p {
    text-align: center;
}